<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">

<title>Evento</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />

<link rel="icon" href="data:,">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Evento detalhes</title>
</head>

<body>
	<header>
		<!-- HEADER INICIO -->
		<div class="navbar-fixed">
			<!-- NAVBAR -->
			<nav>
				<div class="navbar">
					<a href="/" class="brand-logo center">Planner</a>
				</div>
			</nav>
		</div>
		<!-- NAVBAR FIM -->
	</header>
	<!-- HEADER FIM -->
	<article>
		<div class="container">
			<div class="row">
				<div>
					<!-- Evento -->
					<table class="centered">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Local</th>
								<th>Data</th>
								<th>Horario</th>
							</tr>
						</thead>
						<tbody>
							<tr th:object="${evento}">
								<td th:text="*{nome}"></td>
								<td th:text="*{Local}"></td>
								<td th:text="*{Data}"></td>
								<td th:text="*{Horario}"></td>

							</tr>
						</tbody>
					</table>
				</div>

				<div style="margin-top: 50px">
					<!-- Tarefas -->
					<table class="centered">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Inicio</th>
								<th>Fim</th>
								<th>Deleta</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tarefa : ${tarefas}">
								<td><p th:text="${tarefa.nome}">
									<p></td>
								<td><p th:text="${tarefa.inicio}">
									<p></td>
								<td><p th:text="${tarefa.fim}">
									<p></td>
								<td><a th:href="@{/deletaTarefa(id = ${tarefa.id})}"><i
										class="material-icons">delete</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div th:if="${mensagem}" class="col s12 center"
					style="margin-top: 30px">
					<span th:text="${mensagem}"></span>
				</div>

				<form method="post" style="margin-top: 30px">
					<div class="input-field col s6">
						<input type="text" placeholder="Tarefa" name="nome">
					</div>
					<div class="input-field col s3">
						<input type="text" placeholder="Inicio" name="inicio">
					</div>
					<div class="input-field col s3">
						<input type="text" placeholder="Fim" name="fim">
					</div>


					<button type="submit" class="btn">Adcionar</button>

				</form>
			</div>
		</div>

	</article>
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>